version: '3.8'
services:
  {% if inventory_hostname in groups['user_service'] %}
  user-service:
    build: ./user-service
    env_file:
      - ./user-service/.env
    ports:
      - "3001:3001"
  {% endif %}

  {% if inventory_hostname in groups['product_service'] %}
  product-service:
    build: ./product-service
    env_file:
      - ./product-service/.env
    ports:
      - "3002:3002"
  {% endif %}